@media only screen and (min-width: 758px) and (max-width: 1244px) {
    html {
        font-size: 20px;
        font-family: "Be Vietnam Pro", sans-serif;
        font-weight: 700;
        color: #333333;
    }

    #logo {
        width: 140px;
        height: 42px;
    }
    #menu {
        width: 418px;
        height: 30px;
    }
    #button {
        width: 102px;
        height: 36px;
    }

    #content {
        width: 345px;
        height: 267px;
    }
    #image {
        width: 345px;
        height: 310px;
    }

    .box-title {
        width: 720px;
        height: 60px;
        width: 95%;
        max-width: 720px;
    }
    header .inner-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        max-width: 720px;
    }
    .section:nth-of-type(1) .inner-section {
        display: flex;
        max-width: 720px;
        width: 95%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
    }
    .section:nth-of-type(2) .inner-section {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 720px;
        width: 100%;
    }
    .inner-item-1 {
        width: 345px;
        height: 420px;
    }

    .section:nth-of-type(3) .inner-section {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 720px;
        width: 95%;
    }
    .inner-item-2 {
        width: 220px;
        height: 300px;
    }

    .section:nth-of-type(4) .inner-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px; 
        width: 95%;
        max-width: 720px;
    }
    .inner-item-3 {
        width: 345px;
        height: 300px;
    }
    div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
    footer {
        height: 72px;
    }
    footer .container.footer {
        margin: 0 auto;
    }
}
