html {
    color: #333333;
    font-size: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    line-height: 100%;
}
body {
    margin: 0;
}

div.container {
    --tb: 45px;
    padding-top: var(--tb);
    padding-bottom: var(--tb);
}
div.inner-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 95%;
    max-width: 1200px; 
}
div.inner-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 95%;
    max-width: 1200px; 
}
div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
div.corner {
    border-radius: 8px;
}
#logo {
    width: 200px;
    height: 60px;
}
#menu {
    height: 34px;
    width: 820px;
}
#button {
    width: 120px;
    height: 42px;
}
#content {
    width: 585px;
    height: 267px;
}
#image {
    width: 585px;
    height: 520px;
}
.inner-item-2 {
    width: 216px;
    height: 300px;
}
.inner-item-3 {
    width: 277.5px;
    height: 300px;
}
.inner-item-1 {
    width: 380px;
    height: 420px;
}
.box-title {
    font-family: "Lora", serif;
    width: 600px;
    height: 80px;
    margin-bottom: 40px;
}
.box {
    background-color: #E2E2E2;
}
.color {
    background-color: #F1F1F1;
}
.header {
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer {
    background-color: #D9D9D9;
}
footer {
  height: 75px;                 
}
footer .container.footer {
  height: 100%;
  padding: 0;                   
}
@media (min-width: 1245px) {
  .section:nth-of-type(2) .inner-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
    }
}
